<!-- Preloader Starts -->
<div class="preloader">
    <div class="spinner"></div>
</div>
<!-- Preloader End -->

<!-- Header Area Starts -->
<header class="header-area">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 d-md-flex">
                    <h6 class="mr-3"><span class="mr-2"><i class="fa fa-mobile"></i></span> call us now! +91 93196 16722</h6>
                    <h6 class="mr-3"><span class="mr-2"><i class="fa fa-envelope-o"></i></span> support@dheemahi.com</h6>
                    <!-- <h6><span class="mr-2"><i class="fa fa-map-marker"></i></span> Find our Location</h6> -->
                </div>
                <div class="col-lg-3">
                    <div class="social-links">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <!-- <li><a href="#"><i class="fa fa-vimeo"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="header" id="home">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="/"><img src="/assets/images/logo/logo.png" alt="" title="" style="height: 5rem;" /></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="/">Home</a></li>
                    <!-- <li><a href="/#">departments</a></li>
                    <li><a href="/#">doctors</a></li> -->
                    <!-- <li class="menu-has-children"><a href="">Pages</a>
                        <ul>
                            <li><a href="/about">about us</a></li>
                            <li><a href="/elements">elements</a></li>
                        </ul>
                    </li> -->
                    <li class="menu-has-children"><a href="/blogs">blogs</a>
                        <!-- <ul>
                            <li><a href="blog-home.html">blog home</a></li>
                            <li><a href="blog-details.html">blog details</a></li>
                        </ul> -->
                    </li>
                    <li><a href="/contact">Contact</a></li>			          				          
                </ul>
            </nav><!-- #nav-menu-container -->		    		
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->
