<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Page Title -->
    <title>Blogs @ Dr Sanjay Kumar</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/images/logo/favicon.png" type="image/x-icon">

    <!-- CSS Files -->
    <link rel="stylesheet" href="/assets/css/animate-3.7.0.css">
    <link rel="stylesheet" href="/assets/css/font-awesome-4.7.0.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-4.1.3.min.css">
    <link rel="stylesheet" href="/assets/css/owl-carousel.min.css">
    <link rel="stylesheet" href="/assets/css/jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="/assets/css/linearicons.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    
    <%- include('./common/header.ejs') %>
    <!-- Banner Area Starts -->
    <section class="banner-area other-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Blogs</h1>
                    <a href="/">Home</a> <span>|</span> <a href="/blogs">Blog Home</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Area End -->
    
    <!--================Blog Categorie Area =================-->
    <section class="blog_categorie_area">
        <!--     <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                    <div class="categories_post">
                        <img src="/assets/images/blog/cat-post/cat-post-3.jpg" alt="post">
                        <div class="categories_details">
                            <div class="categories_text">
                                <a href="blog-details.html"><h5>Social Life</h5></a>
                                <div class="border_line"></div>
                                <p>Enjoy your social life together</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                    <div class="categories_post">
                        <img src="/assets/images/blog/cat-post/cat-post-2.jpg" alt="post">
                        <div class="categories_details">
                            <div class="categories_text">
                                <a href="blog-details.html"><h5>Politics</h5></a>
                                <div class="border_line"></div>
                                <p>Be a part of politics</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="categories_post">
                        <img src="/assets/images/blog/cat-post/cat-post-1.jpg" alt="post">
                        <div class="categories_details">
                            <div class="categories_text">
                                <a href="blog-details.html"><h5>Food</h5></a>
                                <div class="border_line"></div>
                                <p>Let the food be finished</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </section>
    <!--================Blog Categorie Area =================-->
    
    <!--================Blog Area =================-->
    <section class="blog_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog_left_sidebar">
                        
                        <article class="row blog_item">
                           <div class="col-md-3">
                               <div class="blog_info text-right">
                                    <!-- <div class="post_tag">
                                        <a href="#">Food,</a>
                                        <a class="active" href="#">Technology,</a>
                                        <a href="#">Politics,</a>
                                        <a href="#">Lifestyle</a>
                                    </div> -->
                                    <ul class="blog_meta list">
                                        <li><a href="#">Dr. Sanjay<i class="fa fa-user-o"></i></a></li>
                                        <li><a href="#">12th May, 2021<i class="fa fa-calendar-o"></i></a></li>
                                        <!-- <li><a href="#">1.2M Views<i class="fa fa-eye"></i></a></li> -->
                                        <!-- <li><a href="#">06 Comments<i class="fa fa-comment-o"></i></a></li> -->
                                    </ul>
                                </div>
                           </div>
                           
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="https://www.utsc.utoronto.ca/aacc/sites/utsc.utoronto.ca.aacc/files/styles/full-page-image/public/images/page/1521565389_15ab13ecd8a4c8_2012-Hire-Power%20%28289%20of%20762%29.png?itok=IqWfpVbv&amp;c=75851fa70f37804490ba1a0d62da27a0" alt="">
                                    <div class="blog_details">
                                        <a href="/blog/1"><h4>8 Steps to Academic Success</h4></a>
                                        <p>8 Steps to Academic Success</p>
                                        <a href="/blog/1" class="template-btn">View More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                      
                       
                        <!-- <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Previous">
                                        <span aria-hidden="true">
                                            <span class="fa fa-angle-left"></span>
                                        </span>
                                    </a>
                                </li>
                                <li class="page-item"><a href="#" class="page-link">01</a></li>
                                <li class="page-item active"><a href="#" class="page-link">02</a></li>
                                <li class="page-item"><a href="#" class="page-link">03</a></li>
                                <li class="page-item"><a href="#" class="page-link">04</a></li>
                                <li class="page-item"><a href="#" class="page-link">09</a></li>
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Next">
                                        <span aria-hidden="true">
                                            <span class="fa fa-angle-right"></span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </nav> -->
                    </div>
                </div>
                

                <%- include('./blog-aside.ejs') %>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->

    <%- include('./common/footer.ejs') %>

</body>
</html>
