<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Page Title -->
    <title>Blog Details</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/images/logo/favicon.png" type="image/x-icon">

    <!-- CSS Files -->
    <link rel="stylesheet" href="/assets/css/animate-3.7.0.css">
    <link rel="stylesheet" href="/assets/css/font-awesome-4.7.0.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-4.1.3.min.css">
    <link rel="stylesheet" href="/assets/css/owl-carousel.min.css">
    <link rel="stylesheet" href="/assets/css/jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="/assets/css/linearicons.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>

    <%- include('./common/header.ejs') %>

        <!-- Banner Area Starts -->
        <section class="banner-area other-page">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Blog Details</h1>
                        <a href="index.html">Home</a> <span>|</span> <a href="blog-details.html">Blog Details</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Banner Area End -->

        <!--================Blog Area =================-->
        <section class="blog_area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 posts-list">
                        <div class="single-post row">
                            <!-- <div class="col-lg-12">
                                <div class="feature-img">
                                    <img class="img-fluid" src="/assets/images/blog-details/feature-img1.jpg" alt="">
                                </div>
                            </div> -->
                            <div class="col-lg-3  col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                        <a href="#">Health,</a>
                                        <a class="active" href="#">Technology,</a>
                                        <a href="#">Lifestyle</a>
                                    </div>
                                    <ul class="blog_meta list">
                                        <li><a href="#">Dr. Sanjay<i class="fa fa-user-o"></i></a></li>
                                        <li><a href="#">9th May, 2021<i class="fa fa-calendar-o"></i></a></li>
                                        <!-- <li><a href="#">1.2M Views<i class="fa fa-eye"></i></a></li>
                                        <li><a href="#">06 Comments<i class="fa fa-comment-o"></i></a></li> -->
                                    </ul>
                                    <ul class="social-links">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <section id="page-content" class="col-lg-9 col-md-9 blog_details">

                                <a id="main-content"></a>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h1 class="page-header">8 Steps to Academic Success</h1>
                                        </div>
                                    </div>
                                </div>

                                <div class="region region-content py-5">
                                    <section id="block-system-main" class="block block-system clearfix">


                                        <div class="ds-1col node node-page view-mode-full clearfix  container">


                                            <div class="row">
                                                <div class="col-sm-9 landscape-img"><img typeof="foaf:Image"
                                                        class="img-responsive"
                                                        src="https://www.utsc.utoronto.ca/aacc/sites/utsc.utoronto.ca.aacc/files/styles/full-page-image/public/images/page/1521565389_15ab13ecd8a4c8_2012-Hire-Power%20%28289%20of%20762%29.png?itok=IqWfpVbv&amp;c=75851fa70f37804490ba1a0d62da27a0"
                                                        alt="" /></div>
                                                <div
                                                    class="field field-name-body field-type-text-with-summary field-label-hidden">
                                                    <div class="field-items">
                                                        <div class="field-item even" property="content:encoded">
                                                            <h2>Step 1: Set Goals</h2>
                                                            <p>Goals help to keep you going by:</p>
                                                            <ul>
                                                                <li>Providing direction</li>
                                                                <li>Increasing your attention and focus</li>
                                                                <li>Increasing your motivation and effort</li>
                                                                <li>Reducing your anxiety and increasing your confidence
                                                                </li>
                                                            </ul>
                                                            <p>Develop SMART goals that
                                                                are: <strong>S</strong>pecific, <strong>M</strong>easureable, <strong>A</strong>chievable, <strong>R</strong>ealistic,
                                                                and <strong>T</strong>imely</p>
                                                            <h2>Step 2: Have a Positive Attitude</h2>
                                                            <ul>
                                                                <li>Be positive about your ability to succeed</li>
                                                                <li>Look forward to what your will learn</li>
                                                                <li>Have an inquiring mind: get curious about your
                                                                    subjects!</li>
                                                            </ul>
                                                            <h2>Step 3: Manage Your Time</h2>
                                                            <ul>
                                                                <li>Set a realistic schedule for yourself</li>
                                                                <li>Know where your time goes (awareness is key)</li>
                                                                <li>Study for 2-3 hours for every hour of class time
                                                                    (eg. if you have 6 hours of class per week, aim to
                                                                    study at least 12-18 hours per week).</li>
                                                            </ul>
                                                            <h2>Step 4: Read Textbooks &amp; Course Readings</h2>
                                                            <ul>
                                                                <li>Survey chapters before reading; read the chapter
                                                                    summary, look for <strong>bold</strong>
                                                                    and <em>italicized</em> words to indicate important
                                                                    concepts</li>
                                                                <li>Review chapters and readings before class</li>
                                                                <li>Re-read chapter and readings after class</li>
                                                                <li>Make study notes</li>
                                                            </ul>
                                                            <h2>Step 5: Attend your Lectures</h2>
                                                            <ul>
                                                                <li>Intend to learn something each class you attend</li>
                                                                <li>Do assigned readings before class- you'll take
                                                                    better notes</li>
                                                                <li>Ask questions: this will enhance your learning
                                                                    process</li>
                                                                <li>Sit in the first few rows - you'll pay closer
                                                                    attention</li>
                                                            </ul>
                                                            <h2>Step 6: Record your Lecture Notes</h2>
                                                            <ul>
                                                                <li>Take notes in class</li>
                                                                <li>Review and edit notes after class (within 24 hours)
                                                                </li>
                                                                <li>Aim for 3-4 major reviews of your notes before exams
                                                                </li>
                                                                <li>Highlight import points, draw diagrams, make
                                                                    definitions</li>
                                                            </ul>
                                                            <h2>Step 7: Prepare for Exams</h2>
                                                            <ul>
                                                                <li>Review past exams</li>
                                                                <li>Make practice study questions</li>
                                                                <li>Memorize definitions and formulae - try cue cards
                                                                </li>
                                                                <li>Know the type of exam to expect</li>
                                                                <li>Eat balanced meals and sleep 8 hours per night</li>
                                                            </ul>
                                                            <h2>Step 8: Write Your Exams</h2>
                                                            <ul>
                                                                <li>Have a positive attitude; do your best</li>
                                                                <li>Arrive early with an extra pen and any necessary
                                                                    supplies (e.g., calculator if permitted - with fresh
                                                                    batteries)</li>
                                                                <li>Read test questions and instructions <strong>very
                                                                        clearly</strong></li>
                                                                <li>Budget your time; leave time for review</li>
                                                                <li>Relax and don't forget to breathe</li>
                                                            </ul>
                                                            <h2>Where to Get More Help?</h2>
                                                            <ul>
                                                                <li>Your instructors and program supervisors are
                                                                    available for help. See your instructor if you are
                                                                    having difficulty with course work. Your instructor
                                                                    may be able to review material for you, present
                                                                    material in another way that you find easier to
                                                                    understand, recommend supplementary texts or other
                                                                    readings, or recommend someone to tutor you. You
                                                                    won’t know what help is available unless you ask.
                                                                    Don’t wait until the last minute; get help in a
                                                                    timely manner. Your program supervisor can help you
                                                                    with things like course load, the repercussions on
                                                                    your program of withdrawing from a required course,
                                                                    and has authority to make changes to your program of
                                                                    study.</li>
                                                            </ul>
                                                            <ul>
                                                                <li>The Health &amp; Wellness Centre, can help in two
                                                                    ways: with health care and with personal
                                                                    counselling. You don’t need to miss classes to have
                                                                    your health needs looked after, be it a bad cold or
                                                                    flu, a headache or upset stomach. If family problems
                                                                    or other personal matters are affecting your marks,
                                                                    talk to a professional counsellor. It can make a big
                                                                    difference, as many students discover. You can see a
                                                                    social worker, a psychologist, a psychiatrist or a
                                                                    physician/counsellor, all for free. For more
                                                                    information visit their webpage: <a
                                                                        href="https://www.utsc.utoronto.ca/hwc/">www.utsc.utoronto.ca/hwc</a>
                                                                </li>
                                                            </ul>
                                                            <ul>
                                                                <li>The <a href="https://utsc.library.utoronto.ca/">UTSC
                                                                        Library</a> is geared towards serving students
                                                                    with various research needs and library experience.
                                                                    The staff have a reputation of helpfulness and
                                                                    approachability. Services include:​
                                                                    <ul>
                                                                        <li>Workshops in using library resources and the
                                                                            web for academic research</li>
                                                                        <li>Individual appointments with a librarian to
                                                                            develop effective research strategies</li>
                                                                        <li>Computers with access to the Web, e-journals
                                                                            and indexes, and multimedia programs</li>
                                                                        <li>Research 101 webpages that provide brief
                                                                            information on doing library research</li>
                                                                        <li>Book delivery service. See their webpage at
                                                                            <a
                                                                                href="http://www.library.utoronto.ca/utsc">www.library.utoronto.ca/utsc</a>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                            <ul>
                                                                <li>The writing instructors at the Writing Centre, can
                                                                    assist students at any stage of the writing process,
                                                                    from drafting an outline of a paper to adding
                                                                    finishing touches. They can work with students on
                                                                    any research topic from Anthropology to English
                                                                    literature to Life Sciences and Management.
                                                                    Facilities include private seminar space and
                                                                    computers with software dedicated to writing needs.
                                                                    Check out the Writing Centre’s webpage at <a
                                                                        href="https://www.utsc.utoronto.ca/ctl/academic-learning-support">http://ctl.utsc.utoronto.ca</a>,
                                                                    (Room AC210), or contact the Centre by telephone at
                                                                    416-287-7562.  They also offer:
                                                                    <ul>
                                                                        <li>Individual consultations</li>
                                                                        <li>Group workshops</li>
                                                                        <li>Diverse electronic resources including an
                                                                            online diagnostic evaluation.</li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                            <ul>
                                                                <li>Your <a
                                                                        href="https://www.utsc.utoronto.ca/registrar/financial-aid-advisors">Financial
                                                                        Aid Advisor</a> is here to help. Your university
                                                                    years are a valuable investment in time, energy and
                                                                    money. At the University of Toronto at Scarborough
                                                                    (UTSC), we will do our best to ensure our students
                                                                    have the financial assistance required to help them
                                                                    make this investment. Worrying about money problems
                                                                    can and will affect your studies and your success at
                                                                    university. Your Financial Aid Advisor can assist
                                                                    you with budgeting and financial aid concerns.
                                                                    Financial Aid Services offers a variety of seminars
                                                                    each year including:
                                                                    <ul>
                                                                        <li>Financing your graduate or professional
                                                                            school education</li>
                                                                        <li>Paying back your student loan</li>
                                                                        <li>Co-op students and student loans</li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                            <p><strong>Good Luck with your studies!</strong></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <!-- <div class="col-lg-9 col-md-9 blog_details">
                            <h3>This is the title of the Blog!!!</h3>
                            <p class="excert">
                                MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction.
                            </p>
                            <p>
                                Boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower to actually sit through a self-imposed MCSE training. who has the willpower to actually sit through a self-imposed
                            </p>
                            <p>
                                Boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower to actually sit through a self-imposed MCSE training. who has the willpower to actually sit through a self-imposed
                            </p>
                        </div> -->
                                    <!-- <div class="col-lg-12">
                            <div class="quotes">
                                This part is basically mentioned quotes related to the Article published!
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <img class="img-fluid" src="/assets/images/blog-details/post-img1.jpg" alt="">
                                </div>
                                <div class="col-6">
                                    <img class="img-fluid" src="/assets/images/blog-details/post-img2.jpg" alt="">
                                </div>	
                                <div class="col-lg-12 my-4">
                                    <p>
                                        MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower.
                                    </p>
                                    <p>
                                        MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower.
                                    </p>											
                                </div>									
                            </div>
                        </div>
                    </div> -->
                                    <!-- <div class="comments-area">
                        <h4>05 Comments</h4>
                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="/assets/images/blog-details/c1.jpg" alt="">
                                    </div>
                                    <div class="desc">
                                        <h5><a href="#">Emilly Blunt</a></h5>
                                        <p class="date">December 4, 2017 at 3:12 pm </p>
                                        <p class="comment">
                                            Never say goodbye till the end comes!
                                        </p>
                                    </div>
                                </div>
                                <div class="reply-btn">
                                        <a href="" class="btn-reply text-uppercase">reply</a> 
                                </div>
                            </div>
                        </div>	
                        <div class="comment-list left-padding">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="/assets/images/blog-details/c2.jpg" alt="">
                                    </div>
                                    <div class="desc">
                                        <h5><a href="#">Elsie Cum</a></h5>
                                        <p class="date">December 4, 2017 at 3:12 pm </p>
                                        <p class="comment">
                                            Never say goodbye till the end comes!
                                        </p>
                                    </div>
                                </div>
                                <div class="reply-btn">
                                        <a href="" class="btn-reply text-uppercase">reply</a> 
                                </div>
                            </div>
                        </div>	
                        <div class="comment-list left-padding">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="/assets/images/blog-details/c3.jpg" alt="">
                                    </div>
                                    <div class="desc">
                                        <h5><a href="#">Annie Steph</a></h5>
                                        <p class="date">December 4, 2017 at 3:12 pm </p>
                                        <p class="comment">
                                            Never say goodbye till the end comes!
                                        </p>
                                    </div>
                                </div>
                                <div class="reply-btn">
                                        <a href="" class="btn-reply text-uppercase">reply</a> 
                                </div>
                            </div>
                        </div>	
                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="/assets/images/blog-details/c4.jpg" alt="">
                                    </div>
                                    <div class="desc">
                                        <h5><a href="#">Maria Luna</a></h5>
                                        <p class="date">December 4, 2017 at 3:12 pm </p>
                                        <p class="comment">
                                            Never say goodbye till the end comes!
                                        </p>
                                    </div>
                                </div>
                                <div class="reply-btn">
                                        <a href="" class="btn-reply text-uppercase">reply</a> 
                                </div>
                            </div>
                        </div>	
                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="/assets/images/blog-details/c5.jpg" alt="">
                                    </div>
                                    <div class="desc">
                                        <h5><a href="#">Ina Hayes</a></h5>
                                        <p class="date">December 4, 2017 at 3:12 pm </p>
                                        <p class="comment">
                                            Never say goodbye till the end comes!
                                        </p>
                                    </div>
                                </div>
                                <div class="reply-btn">
                                        <a href="" class="btn-reply text-uppercase">reply</a> 
                                </div>
                            </div>
                        </div>	                                             				
                    </div> -->
                                    <!-- <div class="comment-form">
                        <h4>Leave a Reply</h4>
                        <form>
                            <div class="form-group form-inline">
                                <div class="form-group col-lg-6 col-md-6 name">
                                <input type="text" class="form-control" id="name" placeholder="Enter Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Name'">
                                </div>
                                <div class="form-group col-lg-6 col-md-6 email">
                                <input type="email" class="form-control" id="email" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'">
                                </div>										
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="subject" placeholder="Subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Subject'">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control mb-10" rows="5" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
                            </div>
                            <a href="#" class="template-btn">Post Comment</a>	
                        </form>
                    </div> -->
                                </div>
                                <%- include('./blog-aside.ejs') %>
                        </div>
                    </div>
        </section>
        <!--================Blog Area =================-->
        <%- include('./common/footer.ejs') %>
</body>

</html>